@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
  font-family: 'ShipsCargo-Regular';
  src: url('/fonts/ShipsCargo-Regular.ttf') format('truetype');
}